			body {
                font-family: Helvetica, sans-serif;
				margin: 0;
            }
            
			a, a:hover { 
				outline: none;
				text-decoration: none;
				color: #FFFFFF;
			}

			a:hover {
				text-decoration: none;
				color: #85c1e9;
			}

            h1 {
                font-size: 3em;
                line-height: 3em;
                color: black;
                margin-top: 1em;
                text-align: center;
            }

            .box {
                display: inline-block;
                margin: 15px;
                width: 25%;
                height: 5em;
                line-height: 5em;
                text-align: center;
                font-size: 2em;
                color: #fff;
			}
			
			#dashedBox {
				text-align: center;
				border: 1.5px dashed black;
				padding: 2px;
				margin: 2px;
			}
			
			#colorWindow {
                -webkit-transition: background-color 300ms ease-in-out;
                transition: background-color 300ms ease-in-out;
				border: 1.5px dashed black;
            }

            #colorWindow ul {
                text-align: center;
            }

            .red {
                background-color: #ff0000;
            }

            .blue {
                background-color: #0066cc;
            }

            .yellow {
                background-color: #ffcc00;
            }

            .green {
                background-color: #00b300;
            }

            .violet {
                background-color: #9900cc;
            }

            .orange {
                background-color: #ff6600;
            }
			
			.pink {
				background-color: #ff5050;
			}
			
			.gray {
				background-color: #aaa;
			}
			
			.black {
				background-color: #000;
			}
			
			.white {
				background-color: #fff;
			}
			
            section {
                margin: 0 20px 50px;
                text-align: center;
            }

            .button {
                padding: 12px 18px 13px;
                border-radius: 0px;
                line-height: 5em;
                text-align: center;
                font-size: 2em;
                line-height: 1em;
				cursor: pointer;
				background-color: teal;
                color: white;
				border: none;
				-webkit-transition-duration: 0.4s; /* Safari */
				transition-duration: 0.4s;
            }
			
			.button:hover {
				background-color: white;
				color: black;
				border: 2px solid teal;
			}
			
			.disabled {
				opacity: 0.6;
				cursor: not-allowed;
			}
			
			.buttonNavy {
				background-color: #02085b;
                color: white;
			}
			
			.buttonNavy:hover {
				background-color: white;
				color: black;
				border: 2px solid #02085b;
			}
			
			.buttonChoco {
				background-color: chocolate;
                color: white;
			}
			
			.buttonChoco:hover {
				background-color: white;
				color: black;
				border: 2px solid chocolate;
			}
			
			.buttonGreen {
				background-color: Chartreuse;
                color: white;
			}
			
			.buttonGreen:hover {
				background-color: white;
				color: black;
				border: 2px solid Chartreuse;
			}

			.buttonSky {
				background-color: DeepSkyBlue;
                color: white;
			}
			
			.buttonSky:hover {
				background-color: white;
				color: black;
				border: 2px solid DeepSkyBlue;
			}

			.buttonOrange {
				background-color: darkorange;
                color: white;
			}
			
			.buttonOrange:hover {
				background-color: white;
				color: black;
				border: 2px solid darkorange;
			}
			
			.buttonStart {
				background-color: limegreen;
                color: white;
				border: 2px solid limegreen;
			}
			
			.buttonStart:hover {
				background-color: white;
				color: black;
				border: 2px solid limegreen;
			}
			
			.sectionReturn {
				margin-left:2em;
				margin-top:2em;
				text-align:left;
			}
			
			.buttonReturn {
				margin-left:2em;
				margin-top:2em;
				text-align:left;
				background-color: darkRed;
                color: white;
				border: 2px solid darkRed;
				font-size: 1.25em;
			}
			
			.buttonReturn:hover {
				background-color: white;
				color: black;
				border: 2px solid darkRed;
			}
			
			.hidden {
				display: none;
			}	

			.f15 {
				font-size: 1.5em;
			}
			
			.stopwatch {
				text-align: center;
			  }
			  
			.results {
				border-color: lime;
				list-style: none;
				margin: 0;
				padding: 0;
				bottom: 0;
				left: 50%;
			  }
			  
			.controls {
			  position: fixed;
			  text-align: center;
			}
			