body {
	margin: 20px 20px 20px;
	text-align: center;
}

.wrapper {
	display: inline-block;
	position: relative;
	width: 640px;
	height: 480px;
	background-color: black;
}

video {
	position: absolute;
	left: 0;
	top: 0;
	width: 640px;
	height: 480px;
	transform: scaleX(-1); /* flip video, like a mirror */
}

.motion-box {
	display: none;
	position: absolute;
	border: 3px solid lime;
	transition: all .1s;
}


.stopwatch {
	text-align: center;
  }
  
.results {
	border-color: lime;
	list-style: none;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 50%;
  }
  
.controls {
  position: fixed;
  text-align: center;
}